# node modules
backend/node_modules/
frontend/node_modules/

# environment files
backend/.env
frontend/.env

# python cache
__pycache__/

# build folders
frontend/build/

# logs
npm-debug.log*S

# vscode
.vscode/

# system files
.DS_Store